@import "../../node_modules/toomanynames_theme/source/css/toomanynames_base"

body
  background-color: #f5f5f5

#myCanvas
  height: 100%
  width: 100%

nav, #player
  position: absolute
  width: 100%

#player
  bottom: 0