@import "../../node_modules/toomanynames_theme/source/css/toomanynames_base"

body
  background-color: #f5f5f5

#myCanvas
  height: 100%
  width: 100%
  

nav, #player
  position: absolute
  width: 100%

#player
  bottom: 0

.distraction
  opacity: 1
  transition: opacity 2s
  -webkit-transition: opacity 2s

.is-hidden
  opacity: 0

.paper_canvas
  cursor: initial

.has-mouse-hidden
  cursor: none